{% extends "main.html" %}

{% load static %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">Mis Pedidos</h2>
        
        {% if pedidos %}
            <div class="row row-cols-3 g-2">
                {% for carrito in pedidos %}
                    <div class="col p-3 border rounded shadow-sm mb-3">
                        <h4>Pedido #{{ carrito.id }}</h4>
                        <p><strong>Fecha:</strong> {{ carrito.detalles.first.venta.fecha_venta }}</p>
                        <p><strong>Fecha de recolección:</strong> {{ carrito.detalles.first.venta.fecha_recoleccion }}</p>
                        <p><strong>Estado:</strong> 
                            {% if carrito.detalles.first.venta.estatus %}
                                <span class="text-primary">Creado</span>
                            {% else %}
                                <span class="text-warning">Pendiente</span>
                            {% endif %}
                        </p>
                        <h5>Productos:</h5>
                        <ul>
                            {% for detalle in carrito.detalles.all %}
                                <li>{{ detalle.receta.nombre }} - {{ detalle.cantidad }} {{ detalle.tipo_unidad }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center text-secondary">Aún no tienes pedidos realizados.</p>
        {% endif %}
    </div>
{% endblock %}