{% extends "panel.html" %}

{% load static %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="row row-cols-1 row-cols-md-4 g-1">
            <div class="col">
              <div class="card h-100 border-primary">
                <div class="container-fluid text-center">
                    <img src="{% static 'img/galletas.png' %}" class="card-img-top w-50" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Galleta de chispas</h5>
                  <p class="card-text text-center"><span class="fs-6 fw-medium text-secondary">Galletas disponibles</span></p>
                  <p class="card-text text-center"><span class="fs-2 fw-bold">1024</span><span class="fs-6 fw-medium text-secondary">ud.</span></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 border-warning">
                <div class="container-fluid text-center">
                    <img src="{% static 'img/galletas.png' %}" class="card-img-top w-50" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Galleta de chocolate</h5>
                    <p class="card-text text-center"><span class="fs-6 fw-medium text-secondary">Galletas disponibles</span></p>
                    <p class="card-text text-center"><span class="fs-2 fw-bold">512</span><span class="fs-6 fw-medium text-secondary">ud.</span></p>
                  </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 border-danger">
                <div class="container-fluid text-center">
                    <img src="{% static 'img/galletas.png' %}" class="card-img-top w-50" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Galleta de avena</h5>
                    <p class="card-text text-center"><span class="fs-6 fw-medium text-secondary">Galletas disponibles</span></p>
                    <p class="card-text text-center"><span class="fs-2 fw-bold">128</span><span class="fs-6 fw-medium text-secondary">ud.</span></p>
                  </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <div class="container-fluid text-center">
                    <img src="{% static 'img/galletas.png' %}" class="card-img-top w-50" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Galleta de limon</h5>
                    <p class="card-text text-center"><span class="fs-6 fw-medium text-secondary">Galletas disponibles</span></p>
                    <p class="card-text text-center"><span class="fs-2 fw-bold">0</span><span class="fs-6 fw-medium text-secondary">ud.</span></p>
                  </div>
              </div>
            </div>
            <div class="col">
                <div class="card h-100 border-primary">
                  <div class="container-fluid text-center">
                      <img src="{% static 'img/galletas.png' %}" class="card-img-top w-50" alt="...">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Galleta de chispas</h5>
                    <p class="card-text text-center"><span class="fs-6 fw-medium text-secondary">Galletas disponibles</span></p>
                    <p class="card-text text-center"><span class="fs-2 fw-bold">1024</span><span class="fs-6 fw-medium text-secondary">ud.</span></p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100 border-warning">
                  <div class="container-fluid text-center">
                      <img src="{% static 'img/galletas.png' %}" class="card-img-top w-50" alt="...">
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">Galleta de chispas</h5>
                      <p class="card-text text-center"><span class="fs-6 fw-medium text-secondary">Galletas disponibles</span></p>
                      <p class="card-text text-center"><span class="fs-2 fw-bold">512</span><span class="fs-6 fw-medium text-secondary">ud.</span></p>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100 border-danger">
                  <div class="container-fluid text-center">
                      <img src="{% static 'img/galletas.png' %}" class="card-img-top w-50" alt="...">
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">Galleta de chispas</h5>
                      <p class="card-text text-center"><span class="fs-6 fw-medium text-secondary">Galletas disponibles</span></p>
                      <p class="card-text text-center"><span class="fs-2 fw-bold">128</span><span class="fs-6 fw-medium text-secondary">ud.</span></p>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <div class="container-fluid text-center">
                      <img src="{% static 'img/galletas.png' %}" class="card-img-top w-50" alt="...">
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">Galleta de chispas</h5>
                      <p class="card-text text-center"><span class="fs-6 fw-medium text-secondary">Galletas disponibles</span></p>
                      <p class="card-text text-center"><span class="fs-2 fw-bold">0</span><span class="fs-6 fw-medium text-secondary">ud.</span></p>
                    </div>
                </div>
              </div>
          </div>
    </div>
{% endblock content %}