{% extends "panel.html" %}

{% load static %}

{% block content %}
    <header class="header">
      <span class="header-brand mb-0 h1">Inventario de productos</span>
    </header>
    <div class="container-fluid py-2">
        <div class="row row-cols-1 row-cols-md-4 g-1">
          {% for item in lista %}
          <div class="col">
            <div class="card h-100 position-relative {% if item.cantidad > 200 %}border-success{% elif item.cantidad > 100 %}border-warning{% else %}border-danger{% endif %}">
              <div class="position-absolute top-0 end-0 p-2">
                <span class="badge 
                {% if item.cantidad > 200 %}text-bg-success{% elif item.cantidad > 100 %}text-bg-warning{% else %}text-bg-danger{% endif %}">
                {% if item.cantidad > 200 %}Alto{% elif item.cantidad > 100 %}Medio{% else %}Bajo{% endif %}
              </span>
              </div>
              <div class="container-fluid text-center">
                <img src="{% static 'img/galletas.png' %}" class="card-img-top w-50" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">{{ item.galleta.nombre }}</h5>
                <p class="card-text text-center"><span class="fs-6 fw-medium">Galletas disponibles</span></p>
                <p class="card-text text-center m-0"><span class="display-2 fw-bold">{{ item.cantidad }}</span><span class="fs-6 fw-medium">ud.</span></p>
              </div>
              <div class="card-footer">
                <p class="fw-bold">Se actualizó: <span class="fw-medium">{{ item.ultima_actualizacion }}</span></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
{% endblock content %}