{% extends 'panel.html' %}

{% block content %}
<h1 class="mb-4">Lista de Mermas</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Lote</th>
      <th>Galleta</th>
      <th>Fecha</th>
      <th>Justificación</th>
    </tr>
  </thead>
  <tbody>
    {% for merma in mermas %}
    <tr>
      <td>{{ merma.id }}</td>
      <td>{{ merma.lote.id }}</td>
      <td>{{ merma.lote.galleta.nombre }}</td>
      <td>{{ merma.fecha|date:"d/m/Y H:i" }}</td>
      <td>{{ merma.justificacion }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5">No hay mermas registradas.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
