{% extends "panel.html" %}

{% load static %}

{% block content %}
<table class="table table">
    <thead>
        <tr>
          <th scope="col">Acciones</th>
          <th scope="col">Nombre</th>
          <th scope="col">Correo</th>
          <th scope="col">Estatus</th>
        </tr>
      </thead>
      <tbody>
        <tr class="align-middle">
          <th scope="row">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-warning">Editar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
              </div>
          </th>
          <td>Juan</td>
          <td>correo@correo.com</td>
          <td>Activo</td>
        </tr>
        <tr class="align-middle">
          <th scope="row">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-warning">Editar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
              </div>
          </th>
          <td>Juan</td>
          <td>correo@correo.com</td>
          <td>Activo</td>
        </tr>
        <tr class="align-middle">
          <th scope="row">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-warning">Editar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
              </div>
          </th>
          <td>Juan</td>
          <td>correo@correo.com</td>
          <td>Activo</td>
        </tr>
        <tr class="align-middle">
          <th scope="row">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-warning">Editar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
              </div>
          </th>
          <td>Juan</td>
          <td>correo@correo.com</td>
          <td>Activo</td>
        </tr>
        <tr class="align-middle">
          <th scope="row">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-warning">Editar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
              </div>
          </th>
          <td>Juan</td>
          <td>correo@correo.com</td>
          <td>Activo</td>
        </tr>
      </tbody>
</table>
{% endblock content %}