{% extends "panel.html" %}

{% load static %}

{% block content %}
<header class="header">
  <div class="d-flex">
    <a class="btn btn-outline-primary" href="{% url 'crear_cliente' %}">Crear Cliente <i class="bi bi-person-plus"></i></a>
  </div>
</header>
<table class="table table">
    <thead>
        <tr>
          <th scope="col">Acciones</th>
          <th scope="col">Nombre</th>
          <th scope="col">Correo</th>
          <th scope="col">Estatus</th>
        </tr>
      </thead>
      <tbody>
        {% for item in lista %}
          <tr class="align-middle">
            <th scope="row">
              <div class="btn-group" role="group" aria-label="Basic example">
                  <a class="btn btn-warning btn-sm" href="{% url 'editar_cliente' item.user.id %}"><i class="bi bi-pencil"></i></a>
                  <a class="btn btn-danger btn-sm" href=""><i class="bi bi-x-octagon"></i></a>
                </div>
            </th>
            <td>{{item.user.username}}</td>
            <td>{{item.user.email}}</td>
            <td>
              <span class="badge text-bg-{% if item.user.is_active %}primary{% else %}secondary{% endif %}">
                  {% if item.user.is_active %}Activo{% else %}Inactivo{% endif %}
              </span>
            </td>
          </tr>
        {% endfor %}
      </tbody>
</table>
{% endblock content %}