{% extends "base.html" %}

{% block content %}
    <div>
        <h1>Lista de usuarios<h1>
    </div>
    <div>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.first_name }}</td>
                    <td>{{ usuario.last_name }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>
                        <a href="{% url 'editar_usuario' usuario.id %}">Editar</a>
                        <a href="{% url 'eliminar_usuario' usuario.id %}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
{% endblock content %}
