{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/menu_principal.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui@5.3.1/dist/css/coreui.min.css" rel="stylesheet" integrity="sha384-PDUiPu3vDllMfrUHnurV430Qg8chPZTNhY8RUpq89lq22R3PzypXQifBpcpE1eoB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@coreui/coreui@5.3.1/dist/js/coreui.bundle.min.js" integrity="sha384-8QmUFX1sl4cMveCP2+H1tyZlShMi1LeZCJJxTZeXDxOwQexlDdRLQ3O9L78gwBbe" crossorigin="anonymous"></script>
    <script src="{% static 'js/config.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Favicon - loaded as static -->
  <link rel="icon" href="/static/assets/img/brand/favicon.png" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="/static/assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <!-- Page plugins -->
  <!-- Argon CSS -->
  <link rel="stylesheet" href="/static/assets/css/argon.css?v=1.2.0" type="text/css">
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Don Ricoche - Clientes</title>
</head>
<body>
    <div class="vh-100 d-flex">
        <div class="sidebar sidebar-dark border-end">
            <div class="sidebar-header border-bottom">
              <div class="sidebar-brand">
                <h1 class="fs-5 m-0 text-white">Don Ricoche</h1>
              </div>
            </div>
            <ul class="sidebar-nav">
              <li class="nav-item nav-group hide">
                <a class="nav-link nav-group-toggle" href="#">
                  <i class="nav-icon bi bi-house"></i> Principal
                </a>
                <ul class="nav-group-items">
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      
                      <span class="nav-icon"><span class="nav-icon-bullet"></span></span> Inicio
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'creacion_produccion' %}">
                      <span class="nav-icon"><span class="nav-icon-bullet"></span></span> Producción
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'agregar_solicitud' %}">
                      <span class="nav-icon"><span class="nav-icon-bullet"></span></span> Solicitud de producción
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'lotes_produccion' %}">
                      <span class="nav-icon"><span class="nav-icon-bullet" ></span></span> Lotes en proceso
                    </a>
                  </li>
                </ul>
              </li>
              <!-- TERMINA LA SECCION PRINCIPAL -->
              <li class="nav-item nav-group hide">
                <a class="nav-link nav-group-toggle" href="#">
                  <i class="nav-icon bi bi-box-seam"></i> Inventarios
                </a>
                <ul class="nav-group-items">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'inventario_materia' %}">
                      <span class="nav-icon"><span class="nav-icon-bullet"></span></span> Materia Prima
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'inventario_productos' %}">
                      <span class="nav-icon"><span class="nav-icon-bullet"></span></span> Productos
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_mermas' %}">
                      <span class="nav-icon"><span class="nav-icon-bullet"></span></span> Merma
                    </a>
                  </li>
                </ul>
              </li>
              <!-- TERMINA LA SECCION INVENTARIO -->
              <li class="nav-item nav-group hide">
                <a class="nav-link nav-group-toggle" href="#">
                  <i class="nav-icon bi bi-graph-up-arrow"></i> Ventas
                </a>
                <ul class="nav-group-items">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_ventas' %}">
                      <span class="nav-icon"><span class="nav-icon-bullet"></span></span> Lista de ventas
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'corteVenta' %}">
                      <span class="nav-icon"><span class="nav-icon-bullet"></span></span> Corte de ventas
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_pedidos' %}">
                      <span class="nav-icon"><span class="nav-icon-bullet"></span></span> Pedidos realizados
                    </a>
                  </li>
                </ul>
              </li>
              <!-- TERMINA LA SECCION VENTAS -->
              <li class="nav-item nav-group hide">
                <a class="nav-link nav-group-toggle" href="#">
                  <i class="nav-icon bi bi-table"></i> Dashboards
                </a>
                <ul class="nav-group-items">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard_ventas' %}">
                      <span class="nav-icon"><span class="nav-icon-bullet"></span></span> Ventas Diarias
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboardProductos' %}">
                      <span class="nav-icon"><span class="nav-icon-bullet"></span></span> Más vendidos
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span class="nav-icon"><span class="nav-icon-bullet"></span></span> Presentaciones
                    </a>
                  </li>
                </ul>
              </li>
              <!-- TERMINA LA SECCION DASHBOARDS -->
              <li class="nav-item nav-group hide">
                <a class="nav-link nav-group-toggle" href="#">
                  <i class="nav-icon bi bi-building-gear"></i> Administración
                </a>
                <ul class="nav-group-items">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_usuarios' %}">
                      <span class="nav-icon"><span class="nav-icon-bullet"></span></span> Usuarios
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_provedores' %}">
                      <span class="nav-icon"><span class="nav-icon-bullet"></span></span> Proveedores
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_receta' %}">
                      <span class="nav-icon"><span class="nav-icon-bullet"></span></span> Recetas
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_materia_prima' %}">
                      <span class="nav-icon"><span class="nav-icon-bullet"></span></span> Materia Prima
                    </a>
                  </li>
                </ul>
              </li>
              <!-- TERMINA LA SECCION ADMINISTRACION -->
            </ul>
          </div>
          <div class="container-fluid p-0 h-100 overflow-auto position-relative">
            <div class="toast-container position-fixed top-0 end-0 p-3">
              <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="liveToast">
                <div class="toast-header">
                  <img src="..." class="rounded me-2" alt="...">
              
                  <strong class="me-auto">Bootstrap</strong>
                  <small class="text-muted">11 mins ago</small>
                  <button type="button" class="btn-close" data-coreui-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                  Hello, world! This is a toast message.
                </div>
              </div>
            </div>          
            <header class="header header-sticky px-4">
              <a class="header-brand" href="#">
                Panel de Administración
              </a>
                <ul class="header-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link py-0 pe-0" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                      <div class="avatar avatar-md text-white rounded-pill bg-primary">{{user.username.0|upper}}</div>
                    </a>
                    <ul class="dropdown-menu">
                      <li><h6 class="dropdown-header">Ajustes</h6></li>
                      <li>
                          <form id="logout-form" method="post" action="{% url 'welcome' %}" class="d-inline">
                              {% csrf_token %}
                              <button type="submit" class="dropdown-item btn btn-link border-0 text-danger">
                                  Cerrar Sesión
                              </button>
                          </form>
                      </li>
                    </ul>
                    </ul>
                  </li>
                </ul>
            </header>
            <div class="container-fluid p-0">
              {% block content %}
              
              {% endblock content %}
            </div>
          </div>
        </div>
    </div>

    <!-- Specific JS goes HERE --> 
    {% block javascripts %}{% endblock javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

    <script src="/static/assets/js/argon.js?v=1.2.0"></script>

</body>

<script src="{% static 'js/admin_panel/panel_base.js' %}" defer></script>
<script src="{% static 'js/produccion.js' %}"></script>


</html>