{% extends 'panel.html' %}

{% block content %}
<header class="header mb-2">
    <span class="header-brand mb-0 h1">Ingredientes para la receta: {{ receta.nombre }}</span>
</header>
<div class="container border rounded p-4">
    <form method="post">
        {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <th>Ingrediente</th>    
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {% for ingrediente in ingredientes %}
                    <tr>
                        <td>
                            <label>{{ ingrediente.insumo.nombre_insumo }}</label>
                        </td>
                        <td>
                            <input type="number" name="cantidad_{{ ingrediente.id }}" value="{{ ingrediente.cantidad_necesaria }}" class="form-control">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
{% endblock %}