{% extends 'panel.html' %}

{% block content %}
<div class="container w-75">
    <div class="card mt-5">
        <div class="card-header bg-primary text-white">
            <h1 class="card-title text-center">Definir Insumos para la Receta: {{ receta.nombre }}</h1>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" class="row">
                {% csrf_token %}
            
                <!-- Formulario siempre visible para agregar un nuevo ingrediente -->
                <div class="col-md-12 mb-4">
                    <label for="nuevo_insumo" class="form-label">Nuevo Ingrediente</label>
                    <div class="form-row">
                        <div class="col-md-6">
                            <select name="nuevo_insumo" class="form-control">
                                <option value="">Seleccionar insumo</option>
                                {% for insumo in insumos %}
                                    <option value="{{ insumo.id }}">{{ insumo.nombre_insumo }} ({{insumo.unidad_base}})</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <input type="number" name="cantidad_nueva" class="form-control" placeholder="Cantidad"  step="any">
                        </div>
                    </div>
                </div>
            
                <!-- Botón para agregar el nuevo ingrediente -->
                <div class="col-md-12 mb-4">
                    <button type="submit" name="agregar_ingrediente" class="btn btn-success">
                        <i class="fas fa-plus"></i> Agregar Ingrediente
                    </button>
                </div>
            
                <!-- Tabla de ingredientes -->
                <div class="col-md-12">
                    <label for="ingredientes" class="form-label">Ingredientes de la Receta</label>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Ingrediente</th>
                                <th>Cantidad</th>
                                <th>Unidad</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ingrediente in ingredientes %}
                                <tr class="align-middle">
                                    <td>{{ ingrediente.insumo.nombre_insumo }}</td>
                                    <td>
                                        <input type="number" name="cantidad_{{ ingrediente.id }}" 
                                            class="form-control" 
                                            placeholder="{{ ingrediente.cantidad_necesaria }}" 
                                            step="any">
                                    </td>
                                    <td>{{ingrediente.insumo.unidad_base}} </td>
                                    <td>
                                        <!-- Botón para eliminar ingrediente -->
                                        <button type="submit" name="eliminar_ingrediente" value="{{ ingrediente.id }}" class="btn btn-danger">
                                            <i class="fas fa-trash"></i> Eliminar
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            
                <!-- Botones para guardar cambios -->
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
                    <button type="submit" class="btn btn-primary me-md-2">
                        <i class="fas fa-save"></i> Guardar cambios
                    </button>
                    <a href="{% url 'editar_receta' pk=receta.id %}" class="btn btn-secondary">
                        <i class="fas fa-times"></i> Cancelar
                    </a>
                </div>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}
