{% extends 'panel.html' %}

{% load static %}

{% block content %}
    <header class="header">
        <span class="header-brand mb-0 h1">Lista de recetas</span>
        <a href="{% url 'crear_receta' %}" class="btn btn-primary">Crear receta</a>
    </header>
    <table class="table">
        <thead>
            <tr>
                <th>Acciones</th>
                <th>ID</th>
                <th>Nombre</th>
                <th>Cantidad de galletas</th>
                <th>Peso individual</th>
            </tr>
          </thead>
          <tbody>
            {% for item in lista %}
              <tr class="align-middle">
                <th scope="row">
                  <div class="d-flex gap-2">
                    <div>
                        <a href="{% url 'editar_receta' item.id %}" class="btn btn-sm btn-warning">Editar</a>
                    </div>
                    <div>
                        <a href="{% url 'ver_receta' item.id %}" class="btn btn-sm btn-info">Ver Receta</a>
                    </div>
                  </div>
                </th>
                <td>{{ item.id }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.cantidad_galletas_producidas }}<span class="text-secondary">ud.</span></td>
                <td>{{ item.peso_individual }}<span class="text-secondary">g.</span></td>
              </tr>
            {% endfor %}
          </tbody>
    </table>
{% endblock %}