{% extends "main.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<script>
    document.addEventListener('DOMContentLoaded', () => {
      document.querySelectorAll('.toast').forEach(toastEl => {
        new bootstrap.Toast(toastEl).show();
      });
    });
</script>

<div class="vh-100 d-flex align-items-center justify-content-center flex-column">
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        {% if wizard.form.errors %}
        {% for field, error_list in wizard.form.errors.items %}
            {% for error in error_list %}
                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <i class="bi bi-exclamation-triangle-fill me-2"></i>
                  
                        <strong class="me-auto">Alerta</strong>
                        <small class="text-muted">justo ahora</small>
                        <button type="button" class="btn-close" data-coreui-dismiss="toast" aria-label="Close"></button>
                      </div>
                    <div class="toast-body">
                        {{ error }}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        {% endif %}
    </div>
    <div class="border rounded-2 shadow-lg overflow-hidden w-25">
        <div class="">
            <img src="{% static '/img/login_cookies.jpeg' %}" class="object-fit-cover" style="height: 4rem; width: 100%;">
        </div>
        <div class="container-fluid p-4">
            <div class="mb-5">
                <h2>Iniciar Sesión</h2>
                <small class="text-secondary">Por favor. Ingrese sus credenciales para iniciar sesión</small>
            </div>
            <div>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ wizard.management_form }} 
                    {% for field in wizard.form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {% render_field field class="form-control" %}
                            {% if field.errors %}
                            <div class="text-danger">{{ field.errors }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary mt-3">Iniciar Sesión</button>
                    </div>
                    <hr/>
                </form>
                <div class="d-grid text-center">
                    <small>No tienes cuenta?, crea una ahora</small>
                    <a class="btn btn-outline-primary mt-3" href="{% url 'registro' %}">Crear una cuenta</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
