{% extends "main.html" %}
{% load static %}

{% block content %}
<div class="vh-100 d-flex align-items-center justify-content-center">
  <div class="container d-flex justify-content-center p-4">
    <div class="card rounded-2 shadow-lg border-0" style="width: 28rem;">
      <div class="overflow-hidden" style="height: 35%;">
        <img src="{% static '/img/login_cookies.jpeg' %}" class="card-img-top rounded-2" alt="...">
      </div>
      <div class="card-body">
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="container-fluid mt-1 d-flex justify-content-between align-items-center mb-5">
            <h4 class="fw-light m-0">Iniciar Sesión</h4>
            <div>
              <a class="btn rounded-pill border text-secondary" href="{% url 'two_factor:login' %}"><i class="bi bi-google small m-0"></i></a>
            </div>
          </div>
          <div class="container-fluid">
            <div class="mb-2">
              <label class="form-label m-0 text-secondary" for="id_username">Usuario</label>
              {{ form.username }}
            </div>
            <div class="">
              <label class="form-label m-0 text-secondary" for="id_password">Contraseña</label>
              {{ form.password }}
            </div>
            <button class="btn btn-primary w-100 py-3" type="submit">Iniciar Sesión</button>
          </div>
          <div class="mt-2 container-fluid d-flex justify-content-between">
            <a class="text-decoration-none" href="{% url 'registro' %}">Registrarse</a>
            <a class="text-decoration-none" href="{% url 'password_reset' %}">Olvide la contraseña</a>
          </div>
        </form>
      </div>
      {% if form.errors %}
        <div class="alert alert-warning mx-2" role="alert">Tu usuario y contraseña no concuerdan.</div>
      {% endif %}
    </div>
  </div>
</div>
  <!-- <form method="post" class="container mt-4" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="container d-flex justify-content-center align-items-center">
        <div class="login-container-wrapper clearfix">                     
            <h1 class="text-center"><i class="bi bi-cookie"></i> Inicio de Sesión </h1>            
            <div class="tab-content">
                <div class="tab-pane active" id="login">
                    <div class="login-form">
                        <div class="mb-3">
                            <label class="form-label">{{ form.username.label }}</label>
                            <div class="input-container">
                                  {{ form.username }}
                            </div>
                        </div>
                                
                        <div class="mb-3">
                            <label class="form-label" required>{{ form.password.label }}</label>
                            <div class="input-container">
                                  {{ form.password }}
                            </div>
                        </div>
                                
                        <div class="d-flex justify-content-center">
                            <input type="submit" class="btn btn-outline-success mt-3" value="Iniciar Sesión">
                            <input type="hidden" name="next" value="{{ next }}">
                            <a href="{% url 'registro' %}" class="btn btn-outline-danger mt-3">Registrarse</a>
                        </div>
                        <div class="d-flex justify-content-center">
                          <a href="{% url 'two_factor:setup' %}">Configurar 2FA</a>
                          <a href="{% url 'two_factor:login' %}">Iniciar sesión con 2FA</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <p class="mb-3">
                <a href="{% url 'password_reset' %}">¿Olvidaste la contraseña mi amor?</a>
            </p>
        </div>
    </div>
  </form> -->
</body>

{% endblock %}