{% extends "main.html" %}
{% load static %}

{% block content %}
<div class="vh-100 d-flex align-items-center justify-content-center">
  <div class="container d-flex justify-content-center p-4">
    <div class="card rounded-2 shadow-lg border-0" style="width: 28rem;">
      <div class="overflow-hidden" style="height: 35%;">
        <img src="{% static '/img/login_cookies.jpeg' %}" class="card-img-top rounded-2" alt="...">
      </div>
      <div class="card-body">
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="container-fluid mt-1 d-flex justify-content-between align-items-center mb-5">
            <h4 class="fw-light m-0">Iniciar Sesión</h4>
            <div>
              <a class="btn rounded-pill border text-secondary" href="{% url 'two_factor:login' %}"><i class="bi bi-google small m-0"></i></a>
            </div>
          </div>
          <div class="container-fluid">
            <div class="mb-2">
              <label class="form-label m-0 text-secondary" for="id_username">Usuario</label>
              {{ form.username }}
              {% if form.username.errors %}
                <div class="text-danger">
                  {% for error in form.username.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="mb-2">
              <label class="form-label m-0 text-secondary" for="id_password">Contraseña</label>
              {{ form.password }}
              {% if form.password.errors %}
                <div class="text-danger">
                  {% for error in form.password.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <button class="btn btn-primary w-100 py-3" type="submit">Iniciar Sesión</button>
          </div>
          <div class="mt-2 container-fluid d-flex justify-content-between">
            <a class="text-decoration-none" href="{% url 'registro' %}">Registrarse</a>
            <a class="text-decoration-none" href="{% url 'password_reset' %}">Olvidé la contraseña</a>
          </div>
        </form>
      </div>
      {% if form.errors %}
        <div class="alert alert-warning mx-2" role="alert">Tu usuario y contraseña no concuerdan.</div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}