{% extends "main.html" %}
{% load static %}
{% block content %}
  <div class="vh-100 position-relative">
    <img src="{% static 'img/fondo_galletas.jpg' %}" class="img-fluid h-100 w-100 object-fit-cover" alt="...">
    <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
      <h5 class="fw-bold display-4">¡Bienvenidos a Galette! 🍪</h5>
      <p class="fs-5 fw-light text-light">
        En Galette, cada galleta es una obra maestra horneada con amor y los mejores ingredientes. Desde clásicos irresistibles hasta creaciones únicas,
          estamos aquí para endulzar tus momentos y hacer que cada bocado sea una experiencia inolvidable.
      </p>
      <div class="container-fluid row row-cols-4 mt-5">
        <div class="col border-bottom">
          <div class="text-center fs-6">
            🍪 Recetas artesanales
          </div>
        </div>
        <div class="col border-bottom">
          <div class="text-center fs-6">
            🌱 Ingredientes naturales
          </div>
        </div>
        <div class="col border-bottom">
          <div class="text-center fs-6">
            🎨 Variedad creativa
          </div>
        </div>
        <div class="col border-bottom">
          <div class="text-center fs-6">
            💸 Ventas rápidas
          </div>
        </div>
      </div>
      <div class="mt-4">
        <p class="fw-light fs-6 m-0">Ver mas</p>
        <i class="bi bi-arrow-bar-down"></i>
      </div>
    </div>
  </div>
  <div class="container mt-4 p-2">
    <small>Productos</small>
    <h2 class="fw-bold">Revisa nuestros productos</h2>
    <div class="row justify-content-center border-top py-2">
      {% for item in productos %}
        <div class="col-md-4">
          <div class="card product-card border-0 rounded-4 shadow-sm">
            <div class="position-relative">
              <span class="badge bg-danger badge-custom">Galleta</span>
              <div class="overflow-hidden">
                <img src="{% static '/img/galletas.png' %}" class="card-img-top product-image" alt="Product Image">
              </div>
            </div>
            <div class="card-body p-4">
              <h5 class="card-title mb-3 fw-bold">{{item.nombre}}</h5>
              <p class="card-text text-muted mb-4">Galleta con excelente sabor.</p>
              <div class="d-flex justify-content-between align-items-center">
                <span class="price">${{item.precio_galleta}}</span>
                <p class="m-0 fw-bold fs-5">Por unidad</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="container mt-4 p-2">
    <div class="row row-cols-1 row-cols-md-2 align-items-center">
        <div class="col">
            <h2 class="mb-4 text-primary fw-bold">Sobre Galette</h2>
            <h3 class="text-secondary fw-semibold">Nuestra Misión</h3>
            <p>Endulzar cada momento con galletas artesanales de la más alta calidad, elaboradas con ingredientes locales y recetas tradicionales que preservan el auténtico sabor de la repostería mexicana.</p>
            
            <h3 class="text-secondary fw-semibold">Nuestra Visión</h3>
            <p>Convertirnos en la marca líder de galletas artesanales en México, reconocidos por nuestra calidad, innovación y compromiso con la tradición culinaria de nuestro país.</p>
            
            <h3 class="text-secondary fw-semibold">Nuestros Valores</h3>
            <p><strong>Tradición, calidad, pasión, innovación y responsabilidad social.</strong> Cada galleta es un reflejo de nuestra dedicación y amor por la repostería.</p>
        </div>
        <div class="col">
            <img src="{% static 'img/galleta_mordida.jpg' %}" class="img-fluid rounded" alt="Deliciosas galletas artesanales">
        </div>
    </div>
  </div>
  <footer class="footer py-5 bg-dark text-white">
    <div>
      <span>Galette</span>
      <span>&copy; 2025 superdevs.</span>
    </div>
    <div>
      <span>Derechos reservados</span>
    </div>
  </footer>
{% endblock content %}