{% extends "panel.html" %}
{% load static %}

{% block content %}
    <header class="header mb-2">
        <span class="header-brand mb-0 h1">Lista de pedidos</span>
    </header>

    <div class="container-fluid">
        <div class="row row-cols-3 g-2">
            {% for carrito in carritos %}
                <div class="col d-flex">
                    <div class="w-100 rounded shadow-sm border p-1 d-flex flex-column">
                        <div class="container-fluid d-flex justify-content-between align-items-center border-bottom mb-2">
                            <h4 class="fw-medium text-primary">Pedido de {{ carrito.usuario.username }}</h4>
                            <small class="text-secondary">ID del pedido: #{{ carrito.id }}</small>
                        </div>
                        <div class="container-fluid flex-grow-1 border-bottom">
                            <h5 class="fw-medium">Detalles del Pedido:</h5>
                            <div class="row">
                                {% for detalle in carrito.detalles.all %}
                                    <div class="col-12">
                                        <div class="container-fluid m-0 p-0">
                                            <div class="row">
                                                <div class="col-8">
                                                    <p class="fw-bold">{{ detalle.receta.nombre }}</p>
                                                </div>
                                                <div class="col-4 text-end">
                                                    <p class="fw-bold">{{ detalle.cantidad }} {{ detalle.tipo_unidad }}</p>
                                                </div>
                                                <div class="col-12">
                                                    <p class="text-secondary">Subtotal: ${{ detalle.total }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="container-fluid mb-2 d-flex justify-content-between py-2">
                            <p class="m-0">Número productos: {{ carrito.contar_productos }}</p>
                            <p class="m-0 fw-bold">Total: ${{ carrito.calcular_total }}</p>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="button">Confirmar Pedido</button>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p class="text-center text-muted">No hay pedidos registrados.</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}