{% extends "panel.html" %}
{% load static %}

{% block content %}
    <header class="header mb-2">
        <span class="header-brand mb-0 h1">Lista de pedidos</span>
    </header>

    <div class="container-fluid">
        <div class="row g-2 row-cols-3">
            {% for carrito in carritos %}
                <div class="col-4 d-flex">
                    <div class="w-100 rounded shadow-sm border p-1 d-flex flex-column">
                        <div class="container-fluid d-flex justify-content-between align-items-center border-bottom mb-2">
                            <h4 class="fw-medium text-primary">Pedido de {{ carrito.usuario.username }}</h4>
                            <small class="">ID del pedido: #{{ carrito.id }}</small>
                        </div>
                        <div class="container-fluid flex-grow-1 border-bottom">
                            <div class="d-flex justify-content-between">
                                <h5 class="fw-medium">Detalles del Pedido</h5>
                                <p class="fw-medium text-dark">{{ carrito.detalles.first.venta.fecha_recoleccion }}</p>
                            </div>
                            <div class="row">
                                {% for detalle in carrito.detalles.all %}
                                    <div class="col-12">
                                        <div class="container-fluid m-0 p-0">
                                            <div class="row">
                                                <div class="col-8">
                                                    <p class="fw-bold">{{ detalle.receta.nombre }}</p>
                                                </div>
                                                <div class="col-4 text-end">
                                                    <p class="fw-bold">{{ detalle.cantidad }} {{ detalle.tipo_unidad }}</p>
                                                </div>
                                                <div class="col-12">
                                                    <p class="text-dark">Subtotal: ${{ detalle.total }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="container-fluid mb-2 d-flex justify-content-between py-2">
                            <p class="m-0">Número productos: {{ carrito.contar_productos }}</p>
                            <p class="m-0 fw-bold">Total: ${{ carrito.calcular_total }}</p>
                        </div>
                        <!-- <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="button">Confirmar pedido</button>
                        </div> -->
                    </div>
                </div>
            {% empty %}
                <div class="container-fluid mt-5 d-flex flex-column align-items-center text-center">
                    <p class="display-6 fw-bold">Aún no hay pedidos en la lista.</p>
                    <img class="w-25" src="{% static '/img/galletita.gif' %}">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}